/* body { */
/*   margin-bottom: 30px; */
/* } */

body > .container {
  padding-top: 30px;
}

.footer {
  height: 50px;
  padding-top: 20px;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
}

.footer-themed {
  background-color: #eee;
  text-align: center;
}
